.form-geolocation {
    .form {
        padding: gr(40) gr(20);
        max-width: gr(700);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 480px) {
            flex-wrap: wrap;
        }
        .field-domain {
            width: 70%;
            @media (max-width: 480px) {
                width: 100%;
                margin-bottom: gr(20);
            }
        }
        .input-host {
            padding: gr(15) gr(10);
            border: 1px solid #C0C0C0;
            border-radius: gr(5);
            font-size: gr(18);
            line-height: gr(22);
            width: 100%;
            box-sizing: border-box;
        }
        small {
            color: red;
            font-weight: bold;
            transition: all linear 0.3s;
            font-size: gr(15);
        }
        .btn {
            @include btn-style;
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}