.section-information {
    > .container {
        display: flex;
        justify-content: space-around;
        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }
    }
    .information {
        display: flex;
        flex-direction: column;
        flex: 0 45%;
        width: 45%;
        padding: gr(40) gr(20);
        border: 1px solid #A9A9A9;
        border-radius: gr(10);
        @media (max-width: 992px) {
            flex: 0 95%;
            width: 95%;
            margin: 0 gr(20) gr(20);
        }
        @media (max-width: 480px) {
            padding: gr(20);
        }
        .subtitle {
            font-size: gr(30);
            text-align: center;
            margin: 0 0 gr(20);
            @media (max-width: 480px) {
                font-size: gr(25);
            }
        }
        .data-domain {
            display: flex;
            flex-direction: column;
            width: gr(350);
            margin: 0 auto;
            @media (max-width: 480px) {
                width: 100%;
            }
            .item {
                display: flex;
                justify-content: space-between;
                label {
                    font-weight: 700;
                }
                span {
                    color: #ff0000;
                }
                button {
                    background: #00BFFF;
                    border: 0;
                    color: #fff;
                    border-radius: gr(5);
                    padding: gr(5) gr(10);
                }
            }
        }
        .box-buttons {
            display: flex;
            justify-content: space-between;
            margin: gr(20) 0 0;
            @media (max-width: 480px) {
                flex-wrap: wrap;
            }
            .btn {
                @include btn-style;
                &[disabled] {
                    opacity: 0.5;
                }
                @media (max-width: 480px) {
                    width: 100%;
                    margin: gr(5) 0;
                }
            }
        }
    }
}