body {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-base + px;
    margin: 0;
    padding: 0;
    @media (max-width: 991.98px) {
        font-size: 17px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
    }
    @media (max-width: 575.98px) {
        font-size: 15px;
    }
    @media (max-width: 375px) {
        font-size: 14px;
    }
    @media (max-width: 320px) {
        font-size: 15px;
    }
    .container {
        max-width: gr(1180);
        margin: 0 auto;
    }
}