<template>
  <div class="data-domain">
    <div class="item">
      <label>IP:</label>
      <div>
        <span>{{this.domain.query}}</span>
        <button @click="showInfo('IP')" v-show="this.domain.query !== '0.0.0.0'">?</button>
      </div>
    </div>
    <div class="item">
      <label>Country:</label>
      <div>
        <span>{{this.domain.country}}</span>
        <button @click="showInfo('Country')" v-show="this.domain.country">?</button>
      </div>
    </div>
    <div class="item">
      <label>Region:</label>
      <div>
        <span>{{this.domain.regionName}}</span>
        <button @click="showInfo('Region')" v-show="this.domain.regionName">?</button>
      </div>
    </div>
    <div class="item">
      <label>City:</label>
      <div>
        <span>{{this.domain.city}}</span>
        <button @click="showInfo('City')" v-show="this.domain.city">?</button>
      </div>
    </div>
    <div class="item">
      <label>Time Zone:</label>
      <div>
        <span>{{this.domain.timezone}}</span>
        <button @click="showInfo('TimeZone')" v-show="this.domain.timezone">?</button>
      </div>
    </div>
    <div class="item">
      <label>Latitude:</label>
      <div>
        <span>{{this.domain.lat}}</span>
        <button @click="showInfo('Latitude')" v-show="this.domain.lat">?</button>
      </div>
    </div>
    <div class="item">
      <label>Longitude:</label>
      <div>
        <span>{{this.domain.lon}}</span>
        <button @click="showInfo('Longitude')" v-show="this.domain.lon">?</button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['domain'],

  components: {
  },
  data () {
    return {
    }
  },

  methods: {
    showInfo (fieldName) {
      let now = new Date()
      alert('This is your ' + fieldName + ' from ISP ' + this.domain.ips + ' at ' + now)
    }
  }

}
</script>

<style lang="scss">
</style>
